<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @experiencedetail.description %>
</p>


<%= link_to 'Edit', edit_experiencedetail_path(@experiencedetail) %> |
<%= link_to 'Back', experiencedetails_path %>
